DB_DB=deadlines
DB_PWD=__GEN_DB_PWD__
DB_USER=postgres

JWT_SECRET=__GEN_JWT_SECRET__

KAFKA_CLUSTER_ID=__GEN_KAFKA_CLUSTER_ID__
KAFKA_PORT=29092

GARAGE_RPC_SECRET=__GEN_GARAGE_RPC_SECRET__
GARAGE_ADMIN_TOKEN=__GEN_GARAGE_ADMIN_TOKEN__
GARAGE_METRICS_TOKEN=__GEN_GARAGE_METRICS_TOKEN__

S3_ENDPOINT=http://garage:3900
S3_REGION=garage
S3_BUCKET=__CONFIG.SETUP.garage.bucket__
S3_ACCESS_KEY=
S3_SECRET_KEY=

SERVER_PORT=__CONFIG.PROD_APP.port__
SERVER_NAME=__CONFIG.PROD_APP.public_host__

PUBLIC_BASE_URL=__CONFIG.PROD_APP.public_url__
S3_PUBLIC_ENDPOINT=${PUBLIC_BASE_URL}


#==================================
# Bot tokens
#==================================

TELEGRAM_BOT_TOKEN=<YOUR_TELEGRAM_BOT_TOKEN>
